!!! 5
%html
  %head
    %script{:src => "twitter-bootstrap-v2/docs/assets/js/jquery.js"}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    %meta{:content => "IE=9", "http-equiv" => "X-UA-Compatible"}/
    %title= data.page.title || "Asiashop"
    = stylesheet_link_tag "bootstrap", "asia", "cloud-zoom"
    = javascript_include_tag  "bootstrap"
    %link(href='http://fonts.googleapis.com/css?family=Kotta One&v1' rel='stylesheet' type='text/css')
   
    %script{:src => "/javascripts/jquery.js", :type => "text/javascript"}
    %script{:src => "/javascripts/layout.js", :type => "text/javascript"}
    %script{:src => "/javascripts/bootstrap-carousel.js", :type => "text/javascript"}

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", :type => "text/javascript"}
    %script{:src => "/javascripts/cloud-zoom.1.0.2.js", :type => "text/javascript"}
    
    :javascript
      $(function(){
        $('.carousel').carousel({interval: 1500});
      });
    


    //layout pages

  %body.paginas
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/index.html"} Asia Shop
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{:href => "/index.html"} Inicio
              %li
                %a{:href => "/pages/quienes.html"} Quienes Somos
              %li
                %a{:href => "/pages/fengshui.html"} Feng Shui
              %li
                %a{:href => "/pages/asesoria.html"} Asesoría Feng Shui
              %li
                %a{:href => "/pages/contacto.html"} Contacto
              %li.divider-vertical
              %li
                %a{:href => "http://www.facebook.com/asiashopfsb", :target => "blank"} 
                  %img{:src => "/images/face.png", :alt => "Facebook"}
              %li
                %a{:href => "https://twitter.com/AsiaShopFSB", :target => "blank"} 
                  %img{:src => "/images/twitter.png", :alt => "Twitter"}           
    .container
      .row
        .span8
          .container.fluid
            .row.fluid
              .span3
                %img{:src => "/images/logo.jpg", :alt => "Asia Shop"}
                .well.sidebar-nav
                  %ul.nav.nav-list
                    %li.nav-header Productos
                    %li
                      %a{:href => "/pages/amuletos.html"} Amuletos y Talismanes
                    %li
                      %a{:href => "/pages/inciensos.html"} Inciensos

                    %li
                      %a{:href => "/pages/fuentes.html"} Fuentes
                    %li
                      %a{:href => "/pages/artesanias.html"} Artesanias Orientales
                    %li
                      %a{:href => "/pages/decoracion.html"} Artículos de decoración
                    %li
                      %a{:href => "/pages/fragancias.html"} Fragancias para aromaterapia
                    %li
                      %a{:href => "/pages/cuencos.html"} Cuencos Tibetanos

                    %li.nav-header Feng Shui
                    %li
                      %a{:href => "/pages/protecciones.html"} Protecciones Mensuales
                    %li
                      %a{:href => "/pages/discos.html"} Discos de Mantras
                    %li
                      %a{:href => "/pages/asesoria.html"} Asesoría Feng Shui
                    %li
                      %a{:href => "/pages/horoscopo.html"} Horóscopo Chino

                / /.well
              / /span
              .span4
                
                = yield
                

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-254857-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
