!!! 5
%html
  %head
    %script{:src => "twitter-bootstrap-v2/docs/assets/js/jquery.js"}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    
    %title= data.page.title || "Asiashop"
    = stylesheet_link_tag "bootstrap", "asia"
    = javascript_include_tag  "bootstrap"
    %script{:src => "twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js"}
    %link(href='http://fonts.googleapis.com/css?family=Poiret One&v1' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Inika&v1' rel='stylesheet' type='text/css')

                 

  %body.principal
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/index.html"} Asia Shop
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{:href => "/index.html"} Inicio
              %li
                %a{:href => "/pages/quienes.html"} Quienes Somos
              %li
                %a{:href => "/pages/fengshui.html"} Feng Shui
              %li
                %a{:href => "/pages/productos.html"} Productos
              %li
                %a{:href => "/pages/contacto.html"} Contacto
              %li.divider-vertical
              %li
                %a{:href => "http://www.facebook.com/asiashopfsb", :target => "blank"} 
                  %img{:src => "/images/face.png", :alt => "Facebook"}
              %li
                %a{:href => "https://twitter.com/AsiaShopFSB", :target => "blank"} 
                  %img{:src => "/images/twitter.png", :alt => "Twitter"}           
    .container
      .row
        .span8
          .container.fluid
            .row.fluid
              .span3
                %img{:src => "/images/logo.jpg", :alt => "Asia Shop"}
                .well.sidebar-nav
                  %ul.nav.nav-list
                    %li.nav-header Productos
                    %li
                      %a{:href => "#"} Fuentes
                    %li
                      %a{:href => "#"} Inciensos
                    %li
                      %a{:href => "#"} Amuletos y Talismanes
                    %li
                      %a{:href => "#"} Artesanias Orientales
                    %li
                      %a{:href => "#"} Artículos de decoración
                    %li
                      %a{:href => "#"} Fragancias para aromaterapia
                    %li.nav-header Feng Shui
                    %li
                      %a{:href => "#"} Protecciones Mensuales
                    %li
                      %a{:href => "#"} Discos de Mantras
                    %li
                      %a{:href => "#"} Activadores Energéticos
                    %li
                      %a{:href => "#"} Asesoría Feng Shui
                    %li
                      %a{:href => "#"} Horóscopo Chino
                    %li
                      %a{:href => "#"} Cuencos Tibetanos

                / /.well
              / /span
              .span4
                
                = yield
                


