!!! 5
%html
  %head
    %title= data.page.title || "Asiashop"
    = stylesheet_link_tag "bootstrap", "asia"
    = javascript_include_tag  "bootstrap"
    %link(href='http://fonts.googleapis.com/css?family=Poiret One&v1' rel='stylesheet' type='text/css')
  %body.paginas
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/index.html"} Asia Shop
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{:href => "/index.html"} Inicio
              %li
                %a{:href => "/pages/quienes.html"} Quienes Somos
              %li
                %a{:href => "/pages/fengshui.html"} Feng Shui
              %li
                %a{:href => "/pages/productos.html"} Productos
              %li
                %a{:href => "/pages/contacto.html"} Contacto
              %li.divider-vertical
              %li
                %a{:href => "./download.html"} Facebook
              %li
                %a{:href => "./examples.html"} Twitter
    .container
      .row
        .span8
          .container.fluid
            .row.fluid
              .span3
                .well.sidebar-nav
                  %ul.nav.nav-list
                    %li.nav-header Productos
                    %li.active
                      %a{:href => "#"} Figuras
                    %li
                      %a{:href => "#"} Amuletos y Talismanes
                    %li
                      %a{:href => "#"} Artículos Religiosos
                    %li
                      %a{:href => "#"} Perfumes
                    %li
                      %a{:href => "#"} Figuras
                    %li
                      %a{:href => "#"} Inciensos
                    %li.nav-header Feng Shui
                    %li
                      %a{:href => "#"} Meditación
                    %li
                      %a{:href => "#"} Minerales
                    %li
                      %a{:href => "#"} Perfumes
                    %li
                      %a{:href => "#"} Velas y Velones
                    %li
                      %a{:href => "#"} Posters
                / /.well
              / /span
              .span4
                = yield

