---
layout: layout2
---
.row
  .span10
    .title  
      Artesanías Orientales<br/>
    .textp
      Estos son algunos de los artículos que manejamos, contamos con cientos de artículos más en donde encontrará lo que usted necesita. Lo invitamos a visitar nuestra tienda o comuníquese con nosotros por medio de nuestra 
      %a{:href =>  "/pages/contacto.html"} Forma de Contacto.<br/>
      
      <br/>
 
.container



  .row
    .texta
      .span2
        %img{:src => "/images/productos/17133-ALHAJERO  8 SIMBOLOS.JPG", :alt => "ALHAJERO  8 SIMBOLOS"} <br/>
        17133-ALHAJERO  8 SIMBOLOS
      .span2
        %img{:src => "/images/productos/CABALLO DRAGON CHILIN DE RESINA PAR.JPG", :alt => "CABALLO DRAGON CHILIN DE RESINA PAR "} <br/>
        CABALLO DRAGON CHILIN DE RESINA PAR
      .span2
        %img{:src => "/images/productos/GANESH DE COLORES.JPG", :alt => "GANESH DE COLORES"} <br/>
        GANESH DE COLORES
      .span2
        %img{:src => "/images/productos/KUAN YIN LUMINOSA SOBRE DRAGON.JPG", :alt => "KUAN YIN LUMINOSA SOBRE DRAGON"} <br/>
        KUAN YIN LUMINOSA SOBRE DRAGON
      .span2
        %img{:src => "/images/productos/TORTUGA DRAGON CON PAGODA.JPG", :alt => "TORTUGA DRAGON CON PAGODA"} <br/>
        TORTUGA DRAGON CON PAGODA



  .row
    .texta
      .span2
        %img{:src => "/images/productos/16025-LAJUSTICIA.JPG", :alt => "LA JUSTICIA"} <br/>
        16025-LA JUSTICIA
      .span2
        %img{:src => "/images/productos/16027-BRONCE BUDA DE LA MEDICINA 6358.JPG", :alt => "BRONCE BUDA DE LA MEDICINA "} <br/>
        16027-BRONCE BUDA DE LA MEDICINA
      .span2
        %img{:src => "/images/productos/16040-KUAN YIN ALABASTRO 5518.JPG", :alt => "KUAN YIN ALABASTRO"} <br/>
        16040-KUAN YIN ALABASTRO
      .span2
        %img{:src => "/images/productos/16034- CANDELABRO DOBLE DRAGON.JPG", :alt => "CANDELABRO DOBLE DRAGON"} <br/>
        16034-CANDELABRO DOBLE DRAGON
      .span2
        %img{:src => "/images/productos/16081- INCENSARIO DE OBELISCO 6088.JPG", :alt => "INCENSARIO DE OBELISCO"} <br/>
        16081- INCENSARIO DE OBELISCO 



  .row
    .texta
      .span2
        
        %img{:src => "/images/productos/16082- ESCARABAJO-ALAS 6205.JPG", :alt => "ESCARABAJO-ALAS"} <br/>
        16082- ESCARABAJO-ALAS
      .span2
        %img{:src => "/images/productos/16550-BRONCE MANJUSRI 6877.JPG", :alt => "BRONCE MANJUSRI "} <br/>
        16550-BRONCE MANJUSRI
      .span2
        %img{:src => "/images/productos/16058-BRONCE CANDELABRO TRIQUETA 6982.JPG", :alt => "BRONCE CANDELABRO TRIQUETA"} <br/>
        16058-BRONCE CANDELABRO TRIQUETA 6982.JPG
      .span2
        %img{:src => "/images/productos/16064-BRONCE CANDELABRO ARBOL DEL BOSQUE 7539.JPG", :alt => "BRONCE CANDELABRO ARBOL DEL BOSQUE"} <br/>
        16064-BRONCE CANDELABRO ARBOL DEL BOSQUE 7539
      .span2
        %img{:src => "/images/productos/16059-BRONCE TARA BLANCA 6357.JPG", :alt => "BRONCE TARA BLANCA"} <br/>
        16059-BRONCE TARA BLANCA
        

  .row
    .texta
      .span2
        %img{:src => "/images/productos/16060-BRONCE GURU PADMASAMBHAVA 7484.JPG", :alt => "BRONCE GURU PADMASAMBHAVA"} <br/>
        16060-BRONCE GURU PADMASAMBHAVA
      .span2
        %img{:src => "/images/productos/16046- BRONCE RELOJ ARENA ANGELITOS 7574.JPG", :alt => "BRONCE RELOJ ARENA ANGELITOS "} <br/>
        16046- BRONCE RELOJ ARENA ANGELITOS
      .span2
        %img{:src => "/images/productos/16055-BRONCE MAITREYA 6881.JPG", :alt => "BRONCE MAITREYA"} <br/>
        16055-BRONCE MAITREYA 6881
      .span2
        %img{:src => "/images/productos/16071-TRIADA ISIS-HORUS-OSIRIS 0959.JPG", :alt => "TRIADA ISIS-HORUS-OSIRIS"} <br/>
        16071-TRIADA ISIS-HORUS-OSIRIS
      .span2
        %img{:src => "/images/productos/16072-BRONCE RELOJ ARENA DE ARBOL 7470.JPG", :alt => "BRONCE RELOJ ARENA DE ARBOL"} <br/>
        16072-BRONCE RELOJ ARENA DE ARBOL

  .row
    .texta


      .span2
        %img{:src => "/images/productos/16028-LAMPARA DE DRAGON 7471.JPG", :alt => "LAMPARA DE DRAGON "} <br/>
        16028-LAMPARA DE DRAGON
      .span2
        %img{:src => "/images/productos/16036-GRIFFIN 7580.JPG", :alt => "GRIFFIN"} <br/>
        16036-GRIFFIN 7580
      .span2
        %img{:src => "/images/productos/16052-CANDELABRO DRAGON 7262.JPG", :alt => "CANDELABRO DRAGON "} <br/>
        16052-CANDELABRO DRAGON 7262
      .span2
        %img{:src => "/images/productos/16066-ALHAJERO CRUZ CELTA 6411.JPG", :alt => "ALHAJERO CRUZ CELTA"} <br/>
        16066-ALHAJERO CRUZ CELTA 6411
      .span2
        %img{:src => "/images/productos/16080- BASTET METAL.JPG", :alt => "BASTET METAL"} <br/>
        16080- BASTET METAL


  .row
    .texta
      .span2
        %img{:src => "/images/productos/16022-SAMURAI ODA 6696.JPG", :alt => "SAMURAI ODA"} <br/>
        16022-SAMURAI ODA
      .span2
        %img{:src => "/images/productos/16023- SAMURAI SANADA 6698.JPG", :alt => "SAMURAI SANADA "} <br/>
        16023- SAMURAI SANADA
      .span2
        %img{:src => "/images/productos/16032-SAMURAI YAMATO 6948.JPG", :alt => "SAMURAI YAMATO"} <br/>
        16032-SAMURAI YAMATO
      .span2
        %img{:src => "/images/productos/16051-SAMURAI DAISUKE 6939.JPG", :alt => "SAMURAI DAISUKE"} <br/>
        16051-SAMURAI DAISUKE
      .span2
        %img{:src => "/images/productos/16038-SAMURAI TOYOTOMI 6690.JPG", :alt => "SAMURAI TOYOTOMI"} <br/>
        16038-SAMURAI TOYOTOMI




  .row
    .texta
      .span2
        %img{:src => "/images/productos/16031- PENTAGRAMA ALHAJERO 6413.JPG", :alt => "PENTAGRAMA ALHAJERO"} <br/>
        16031- PENTAGRAMA ALHAJERO
      .span2
        %img{:src => "/images/productos/16074- BRONCE ALHAJERO DE ARBOL (PRIMAVERA) 7495.JPG", :alt => "BRONCE ALHAJERO DE ARBOL (PRIMAVERA) "} <br/>
        16074- BRONCE ALHAJERO DE ARBOL (PRIMAVERA)
      .span2
        %img{:src => "/images/productos/16075-BRONCE ALHAJERO DE ARBOL (VERANO) 7496.JPG", :alt => "BRONCE ALHAJERO DE ARBOL (VERANO)"} <br/>
        16075-BRONCE ALHAJERO DE ARBOL (VERANO)
      .span2
        %img{:src => "/images/productos/16077-BRONCE ALHAJERO ARBOL (OTONO 7497).JPG", :alt => "BRONCE ALHAJERO ARBOL OTOÑO"} <br/>
        16077-BRONCE ALHAJERO ARBOL (OTOÑO)

      .span2
        %img{:src => "/images/productos/16076-BRONCE ALHAJERO ARBOL INVIERNO 7498.JPG", :alt => "BRONCE ALHAJERO ARBOL"} <br/>
        16076-BRONCE ALHAJERO ARBOL (INVIERNO)




  .row
    .texta
      .span2
        %img{:src => "/images/productos/16048- SAMURAI REN.JPG", :alt => "SAMURAI REN"} <br/>
        16048- SAMURAI REN
      .span2
        %img{:src => "/images/productos/16067-SAMURAI GYOU 6941.JPG", :alt => "SAMURAI GYOU"} <br/>
        16067-SAMURAI GYOU
      .span2
        %img{:src => "/images/productos/16068-SAMURAI BUMEI 6938.JPG", :alt => "SAMURAI BUMEI"} <br/>
        16068-SAMURAI BUMEI
      .span2
        %img{:src => "/images/productos/16853-MASCARA DE ARLEQUIN ROJA M5301.JPG", :alt => "MASCARA DE ARLEQUIN ROJA"} <br/>
        16853-MASCARA DE ARLEQUIN ROJA

      .span2
        %img{:src => "/images/productos/16854-MASCARA DE ARLEQUIN MORADA M3502.JPG", :alt => "MASCARA DE ARLEQUIN MORADA"} <br/>
        16854-MASCARA DE ARLEQUIN MORADA







