---
layout: layout2
---
.row
  .span6
    .title    
      Noticias del Barrio Chino
  .span7
    .textp
      4 Junio 2013 - 1:02pm
      <br/>
      PRESIDENTE XI Jinping
      <br/>
      Los empresarios del Barrio Chino de la Ciudad de México le damos la bienvenida.
      <br/>
      %img{:alt => "New York", :src => "/images/bienvenido.JPG"}/

