---
layout: layout2
---
.row
  .span10
    .title  
      Artesanías Orientales<br/>
    .textp
      Estos son algunos de los artículos que manejamos, contamos con cientos de artículos más en donde encontrará lo que usted necesita. Lo invitamos a visitar nuestra tienda o comuníquese con nosotros por medio de nuestra 
      %a{:href =>  "/pages/contacto.html"} Forma de Contacto.<br/>
      
      <br/>
 
.container
  .row
    .texta
      .span6
        %img{:src => "/images/decoracion/la foto (1).JPG", :alt => " "} <br/>
  
               

  .row
    .texta
      .span3
        <br/>
        %img{:src => "/images/decoracion/la foto (2).JPG", :alt => " "} <br/>
      .span3
        <br/>
        %img{:src => "/images/decoracion/la foto (3).JPG", :alt => " "} <br/>
      
  .row
    .texta

      .span3
        <br/>
        %img{:src => "/images/decoracion/la foto (4).JPG", :alt => " "} <br/>

      .span6
        <br/>
        %img{:src => "/images/decoracion/la foto (5).JPG", :alt => " "} <br/>


