---
layout: layout2
---
.row
  .span6
    .title    
      Artículos de Decoración
.container
  .row
    .span3
      %a#zoom1.cloud-zoom{:href => "/images/productos/samurailarge.jpg", :rel => "adjustX: 10, adjustY:-4"}
        %img{:alt => "", :src => "/images/productos/samurai.jpg", :title => "Samurai Oda"}/


    .span4
      %table.table.table-bordered
        %thead
          %tr
            %th Artículo
            %th Descripción
        %tbody
          %tr
            %td Samurai
            %td 16022-SAMURAI ODA 6696

  <br/>
  .row
    .span3
      %a#zoom1.cloud-zoom{:href => "/images/productos/16023-SAMURAISANADA6698l.JPG", :rel => "adjustX: 10, adjustY:-4"}
        %img{:alt => "", :src => "/images/productos/16023-SAMURAISANADA6698.JPG", :title => "Samurai Sanada"}/


    .span4
      %table.table.table-bordered
        %thead
          %tr
            %th Artículo
            %th Descripción
        %tbody
          %tr
            %td Samurai
            %td 16022-SAMURAI SANADA 6698


  <br/>
  .row
    .span3
      %a#zoom1.cloud-zoom{:href => "/images/productos/16025-LAJUSTICIAL.JPG", :rel => "adjustX: 10, adjustY:-4"}
        %img{:alt => "", :src => "/images/productos/16025-LAJUSTICIA.JPG", :title => "La Justicia"}/


    .span4
      %table.table.table-bordered
        %thead
          %tr
            %th Artículo
            %th Descripción
        %tbody
          %tr
            %td LA JUSTICIA
            %td 16025-LA JUSTICIA


