---
layout: layout2
---
.row
  .span10
    .title  
      Artesanías Orientales<br/>
    .textp
      Estos son algunos de los artículos que manejamos, contamos con cientos de artículos más en donde encontrará lo que usted necesita. Lo invitamos a visitar nuestra tienda o comuníquese con nosotros por medio de nuestra 
      %a{:href =>  "/pages/contacto.html"} Forma de Contacto.<br/>
      
      <br/>
 
.container
  .row
    .span6
      %a#zoom1.cloud-zoom{:href => "/images/decoracion/foto1l.jpg", :rel => "adjustX: 5, adjustY:-4"}
        %img{:alt => "", :src => "/images/decoracion/foto1s.jpg", :title => "Floreros, Espejos, Lámparas, Portaretratos"}/


                       

  .row
    .texta
      .span3
        <br/>
        %a#zoom1.cloud-zoom{:href => "/images/decoracion/foto2l.jpg", :rel => "adjustX: -455, adjustY:-4"}
          %img{:alt => "", :src => "/images/decoracion/foto2s.jpg", :title => "Floreros, Espejos, Lámparas, Portaretratos"}/
      .span3
        <br/>
        %a#zoom1.cloud-zoom{:href => "/images/decoracion/foto3l.jpg", :rel => "adjustX: 10, adjustY:-4"}
          %img{:alt => "", :src => "/images/decoracion/foto3s.jpg", :title => "Floreros, Espejos, Lámparas, Portaretratos"}/


  .row
    .texta
      .span3
        <br/>
        %a#zoom1.cloud-zoom{:href => "/images/decoracion/foto4l.jpg", :rel => "adjustX: -455, adjustY:-4"}
          %img{:alt => "", :src => "/images/decoracion/foto4s.jpg", :title => "Floreros, Espejos, Lámparas, Portaretratos"}/
      .span3
        <br/>
        %a#zoom1.cloud-zoom{:href => "/images/decoracion/foto5l.jpg", :rel => "adjustX: 10, adjustY:-4"}
          %img{:alt => "", :src => "/images/decoracion/foto5s.jpg", :title => "Floreros, Espejos, Lámparas, Portaretratos"}/


  .row
    .texta
      .span3
        <br/>
        %a#zoom1.cloud-zoom{:href => "/images/decoracion/foto6l.jpg", :rel => "adjustX: -455, adjustY:-4"}
          %img{:alt => "", :src => "/images/decoracion/foto6s.jpg", :title => "Floreros, Espejos, Lámparas, Portaretratos"}/
      .span3
        <br/>
        %a#zoom1.cloud-zoom{:href => "/images/decoracion/foto7l.jpg", :rel => "adjustX: 10, adjustY:-4"}
          %img{:alt => "", :src => "/images/decoracion/foto7s.jpg", :title => "Floreros, Espejos, Lámparas, Portaretratos"}/



