---
layout: layout2
---
.row
  .span6
    .title    
      Que es el Feng Shui
  .span7
    .textp
      Feng Shui  (que se pronuncia “fung shway) significa “vientos suaves que absorbe aguas calmas”, en cierto sentido “viento” se refiere a la influencia invisible que el entorno ejerce sobre cada uno de nosotros, mientras que “agua” alude a su capacidad para sostener la vida.<br/>  
      <br/>
      El Feng Shui  es una filosofía que analiza el diálogo que establecemos día a día con el ambiente en el vivimos, ya que éste es el reflejo de nuestra alma según lo explican los filósofos orientales.<br/>
<br/>
      
.container

  .row
    .span5
      .textp
        Los conceptos fundamentales de esta Filosofía son : el balance entre el Yin y el Yang (el flujo de la energía) y las fases o cualidades extraidas del Wu Xing o mejor conocido como los cinco elementos (Madera, Fuego, Tierra, Metal y Agua).<br/>
    .span2
      %img{:src => "/images/wuxing.png", :alt => "Asia Shop"}

  .row
    .span12
      .stitle    
        Yin / Yang
  .row
    .span1
      %img{:src => "/images/Yin-Yang.png", :alt => "Asia Shop"}
    .span6
      .textp
        El Yin y el Yang son dos fuerzas opuestas y complementarias que buscan estar en equilibrio. Estas fuerzas rigen al universo y estan presentes en todo lo que nos rodea.<br/>
        <br/>

  .row
    .span7
      .textp
        El Yin puede ser lo femenino: la luna, lo obscuro, lo blando, o receptivo, lo pasivo, lo descendente, los números pares, el lado derecho del cuerpo etc.<br/>
        <br/>
        El Yang Puede ser lo masculino : el sol, lo luminoso, lo duro, lo creativo, lo activo, lo ascendente, los números impares, el lado izquierdo del cuerpo, etc.

  .row
    .span12
      .stitle    
        Wu Xing o cinco elementos

  .row
    .span7
      .textp
        Entre el Ying y el Yang se encuentran las cualidades de energía conocidas como los cinco elementos (Madera, Fuego, Tierra, Metal y Agua). Cada uno de ellos tiene sus propias cualidades y se relaciona con un determinado color, forma, estación, orientación cardinal, etc..<br/>
        <br/>
        En nuestro hogar están presentes los cinco elementos :<br/>
        <br/>
      .stitle
        El Fuego<br/>
      .textp
        El fuego es la cocina, las velas, las formas triangulares, el color rojo, etc..<br/>
        <br/>
      .stitle
        La Tierra<br/>
      .textp
        La tierra son las cerámicas, esculturas de piedra, cristales, las formas cuadradas, los tonos amarillos, etc..<br/>
        <br/>
      .stitle
        La Madera<br/>
      .textp
        La Madera son las plantas y flores vivas, las formas verticales o en columna, el color verde, etc..<br/>
        <br/>
      .stitle
        El Metal<br/>
      .textp
        El Metal son las esculturas de este material, los carillones (grupos de campanas en torre), las formas circulares, el color blanco, dorado o plateado, etc..<br/>
        <br/>
      .stitle
        El Agua<br/>
      .textp
        El Agua son los acuarios, fuentes de agua, las formas asimétricas, el color negro y azul obscuro, etc..<br/>
        <br/>
        Los cinco elementos están relacionados entre sí através de dos ciclos Generador y el ciclo Destructivo.<br/>
        <br/>
  .row
    .span4
      .stitle
        El Ciclo Generador<br/>
      .textp
        Fuego genera Tierra<br/>
        Tierra genera Metal<br/>
        Metal genera Agua<br/>
        Agua genera Madera<br/>
        Madera genera fuego<br/>
        <br/>
    .span4
      .stitle
        El Ciclo Destructivo<br/>
      .textp
        Fuego derrite Metal<br/>
        Tierra corta Madera<br/>
        Madera mueve Tierra<br/>
        Tierra estanca Agua<br/>
        Agua apaga Fuego

        
