---
layout: layout2
---
.row
  .span6
    .title    
      Que es el Feng Shui
  .span7
    .textp
      Feng Shui  (que se pronuncia “fung shway) significa “vientos suaves que absorbe aguas calmas”, en cierto sentido “viento” se refiere a la influencia invisible que el entorno ejerce sobre cada uno de nosotros, mientras que “agua” alude a su capacidad para sostener la vida.<br/>  
      <br/>
      El Feng Shui  es una filosofía que analiza el diálogo que establecemos día a día con el ambiente en el vivimos, ya que éste es el reflejo de nuestra alma según lo explican los filósofos orientales.<br/>      
      
