---
layout: layout2
---
.row
  .span6
    .title 
         
      Fragancias Aromaterapia
.container
  .row
    .span3
      <br/>
      %img{:src => "/images/sales.png", :alt => "Sales del Himalaya"}/ 
    .span4
      .textp
        <br/>
        SALES DEL HIMALAYA<br/> 
        Las sales del Himalaya fueron formadas hace mas de 250 millones de años. Son el resultado de la sequía de los mares primarios. 
.row
  .span7
    .textp
      Han estado sometidas a presión hasta llegar al máximo punto de pureza y cristalización, lejos de la contaminación y encapsuladas en ambientes ricos en energía.<br/> 
      La sal cristalina que conserva su estructura primitiva natural al ser extraída de los yacimientos posee cualidades muy diferentes a la sal refinada.<br/>
      En Feng Shui se ubican en zonas claves del bagua, como es el área de fama o prosperidad reforzando el elemento fuego.<br/>
      Algunos de ellos: magnesio, potasio, bromo, calcio, cromo, cobre, manganeso, zinc, hierro, plata, oro, cadmio, boro, cloro, yodo, carbono, nitrógeno, oxígeno, fluor, sodio, hidrógeno, litio, berilio, etc. <br/>Los elementos que contienen las sales del Himalaya están en la misma proporción exacta que nuestro cuerpo.
      <br/>

.row
  .span7
    .textc
      <br/>
      Para mayor información de nuestros productos, lo invitamos a ponerse en contacto con nosotros por medio de nuestra <a href='/pages/contacto.html'> Forma de Contacto.<br/>
     
