---
layout: layouth
---
.row
  .span2.offset1
    %img{:src => "/images/logo.jpg", :alt => "Asia Shop"}
  .span6
    .titleph    
      HORÓSCOPO CHINO

.row
  .span7.offset1
    .titleph
      EL DRAGÓN<br/>
    .titleh
      1952, 1964, 1976, 1988, 2000, 
    .titleph
      2012<br/>
    .texth
      En China el Dragón, el símbolo del poder del emperador. Los nacido en el año del Dragón tienen una gran parte de las características consideradas para los emperadores; un Dragón es un enemigo pelogroso. los Dragones triunfan al elegir su carrera y casi invariablemente son prósperos.<br/>
      <br/>
  .span3
    %img{:src => "/images/dragon.png", :alt => "El Dragón"}/ 
    <br/>


.row
  .span3.offset2
    %img{:src => "/images/rata.png", :alt => "La rata"}/ 
  .span7
    .titleh
      LA RATA<br/>
      1948, 1960, 1972, 1984, 1996, 2008<br/>
    .texth
      Es laborioso y cuidadoso con el dinero pero en ocaciones gasta el dinero a manos llenas comunmente cuando llega el amor o considera a alguien con gran afecto, le gusta ser coleccionista, suele ser extremadamente ambicioso, pero saben exactamente lo que desean. los signos más afectivos a la Rata son el Caballo, Dragón y Mono.<br/>
      <br/>



.row
  .span7.offset1
    .titleh
      EL BUEY<br/>
      1949, 1961, 1973, 1985, 1997, 2009<br/>
    .texth
      Las personas Buey, trabajan duro y sin quejarse hasta caer agotados, particularmente si el esfuerzo ayuda a que los que ama, brillante paciencia e inspira a los demás. Únete a una Vívora o a un gallo. La Cabra puede traer conflictos<br/>
      <br/>
  .span3
    %img{:src => "/images/buey.png", :alt => "El Buey"}/ 
    <br/>




.row
  .span3.offset2
    %img{:src => "/images/tigre.png", :alt => "El Tigre"}/ 
  .span7
    .titleh
      EL TIGRE<br/>
      1950, 1962, 1974, 1986, 1998, 2010<br/>
    .texth
      El Tigre es una persona atrevida hasta imprudente y continuamente se comporta de forma inesperada. Nadie se aburre en compañía de un Tigre; no es  sólo dinámico si no que tiene tendencias a apresurarse sin considerar las consecuancias. La gente Tigre es agresiva, atentadora, animosa y sensitiva. Busca tu felicidad con Caballo o Perro. Cuidate de los Monos.<br/>
      <br/>



.row
  .span7.offset1
    .titleh
      EL CONEJO<br/>
      1951, 1963, 1975, 1987, 1999, 2011<br/>
    .texth
      El Conejo es el signo más afortunado. Es reservado, artístico y posee una capacidad de juicio excepcional. Los Conejos son criaturas amorosas que gustan del amor y del matrimonio. Afin con Cabra y Jabalí. Su contrario es el Gallo.<br/>
      <br/>
  .span3
    %img{:src => "/images/conejo.png", :alt => "El Conejo"}/ 
    <br/>




.row
  .span3.offset2
    %img{:src => "/images/serpiente.png", :alt => "La Serpiente"}/ 
  .span7
    .titleh
      LA SERPIENTE<br/>
      1941, 1953, 1965, 1977, 1989, 2001, 2013<br/>
    .texth
      La Serpiente al igual que el Dragón, irradian poder, energía y confiaza sin límites en sí mismos. Las Serpientes parecen tener una habilidad especial para atraer el dinero. Sus afines son Serpiente, Buey y Gallo.<br/>
      <br/>


.row
  .span7.offset1
    .titleh
      EL CABALLO<br/>
      1942, 1954, 1966, 1978, 1990, 2002, 2014<br/>
    .texth
      El Caballo es inflexible en su amor por la libertad. Es temperamental pero alegre. Los Caballos se enamoran de desenamoran con facilidad. Las mejores realaciones se dan con Perro, Tigre, Cabra y Caballo.<br/>
      <br/>
  .span3
    %img{:src => "/images/caballo.png", :alt => "El Caballo"}/ 
    <br/>




.row
  .span3.offset2
    %img{:src => "/images/cabra.png", :alt => "La Cabra"}/ 
  .span7
    .titleh
      LA CABRA<br/>
      1943, 1955, 1967, 1979, 1991, 2003, 2015<br/>
    .texth
      Es el arqueotipo de la genuina bondad y consideración hacia los demás. Son muy amables y su propensión a la simpatía respecto de los problemas de los menos afortunados, tienden a estar tocados por la suerte. La Cabra necesita una pareja que le sea menos fiable y de confianza que ellas mismas y que le pueda proporcionar las cualidades que no tiene. Se lleva bien con caso todos.<br/>
      <br/>



.row
  .span7.offset1
    .titleh
      EL MONO<br/>
      1944, 1956, 1968, 1980, 1992, 2004, 2016<br/>
    .texth
      Es adaptable, ingenioso, humorista, inteligente y en ocaciones un embaucador sin escrúpulos. Las característica más evidente del Mono es su encanto. Evita a los Tigres y busca a los Dragones y Ratas.<br/>
      <br/>
  .span3
    %img{:src => "/images/mono.png", :alt => "El Mono"}/ 
    <br/>




.row
  .span3.offset2
    %img{:src => "/images/gallo.png", :alt => "El Gallo"}/ 
  .span7
    .titleh
      EL GALLO<br/>
      1945, 1957, 1969, 1981, 1993, 2005<br/>
    .texth
      Los Gallos son hábiles con el dinero, poseen una mente altamente disciplinada y disfrutan organizando personas y cosas. Dedicado al trabajo y siempre en busca de más conocimientos. Es vanidoso y excéntrico.Los Conejos le causan problemas. Serpiente y Buey serán más llevaderos.<br/>
      <br/>




.row
  .span7.offset1
    .titleh
      EL PERRO<br/>
      1946, 1958, 1970, 1982, 1994, 2006, 2018<br/>
    .texth
      El Perro es amistoso, amable, altruista y nunca abandonará a un amigo en problemas o en alguna clase de dificultad. El perro es el de mente más imparcial de todos los animales del Horóscopo Chino. Tienen una mente poderosa y lógica, a menudo despliegan una considerable astucia que en ocasiones se convierte en desconfianza. Caballo y Tigre son las mejores parejas del Perro.<br/>
      <br/>
  .span3
    %img{:src => "/images/perro.png", :alt => "El Perro"}/ 
    <br/>




.row
  .span3.offset2
    %img{:src => "/images/jabali.png", :alt => "El Jabalí"}/ 
  .span7
    .titleh
      EL JABALÍ<br/>
      1947, 1959, 1962, 1971, 1995, 2007<br/>
    .texth
      Sensible, indulgente y culto. También puede ser inseguro. El jabalí es un amigo perfecto aunque no un pensador profundo y bastante materialista. Los jabalí son notables por su buen humor y alegría. Las mejores parejas para el Jabalí son el conejo y Cabra.<br/>
      <br/>


