---
layout: layout2
---

.row
  .span6
    .title    
      <br/>
      Quienes Somos
  .span7
    .textp
      <br/>
      Asia Shop Feng Shui Boutique somos una empresa dedicada a la venta de productos de Feng Shui.<br/>
      Somos especialistas en activar tu energía para lograr tu bienestar y crecimiento armonizando tus espacios con Feng Shui.<br/>
      <br/>
      Venta de productos al mayoreo y menudeo.
   
