.row
  .span7
    .mtitle
      Asia Shop Feng Shui Boutique<br/>
    .texts
      Agradece mucho su interés<br/> 

      En breve uno de nuestros asesores se pondrá en contacto con usted.<br/>

      GRACIAS<br/>

