---
title: Asiashop
---
.row
  .span4
    %img{:src => "/images/logo.jpg", :alt => "Asia Shop"}
  .span8
    .title
      Asia Shop Feng Shui Boutique
    .text
      Somos especialistas en activar tu energia,<br/> para lograr tu bienestar y crecimiento,<br/> armonizando tus espacios con <br/>Feng Shui.
      
